.p-poll {
    padding: 15px;
}
.p-poll .poll-choice {
    display: block;
    position: relative;
    margin-bottom: 5px;
}
.p-poll .poll-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #DFDFDF;
    transition: all .5s cubic-bezier(0.5,1.2,.5,1.2);
    border-radius: 5px;
}
.p-poll .poll-winner {
    background-color: #CCCCCC;
}
.p-poll .poll-option {
    position: relative;
}
.p-poll .poll-result {
    position: relative;
    padding: 0 5px;
}
.p-poll .result-percent {
    font-weight: bold;
}

.p-poll button[type="submit"] {
    transition: all .5s cubic-bezier(0.5,1.2,.5,1.2);
    width: 100%;
}
.p-poll .error-message {
    color: red;
}