.p-poll .poll-choice {
    display: block;
    position: relative;
    margin-bottom: 5px;
}
.p-poll .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ededed;
    transition: all .3s cubic-bezier(0.5,1.2,.5,1.2);
}
.p-poll .poll-option {
    position: relative;
}
.p-poll .result {
    position: relative;
    padding: 0 5px;
}
.p-poll .result-percent {

}
.p-poll .result-name {

}
